@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter-v13-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v13-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v13-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.3019607843);
  position: fixed;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.header__logo-link {
  display: inline-block;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 50px;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 25px;
}

.navbar__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  color: #FFFFFF;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
.navbar__link:hover {
  color: #FF7D44;
}

.navbar__phone-call {
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 10px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  transition: color 0.3s ease;
}
.navbar__phone-call:hover {
  color: #FF7D44;
}

.hero-section {
  height: 100vh;
  padding: 180px 0 93px;
  background-image: url("../../images/bg-hero.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  background-attachment: fixed;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.hero__form {
  border-radius: 10px;
  width: 449px;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.3019607843);
}

.form__subcontent-tittle {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.form__tetx {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 0px;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

.form__label {
  display: flex;
  flex-direction: column;
}

.form__content {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.form__input {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  margin-bottom: 15px;
  outline: none;
  border-radius: 12px;
  border: none;
  padding: 16px 0 16px 46px;
  background-image: url("../../images/location.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 14px center;
}

.form__label:last-child > .form__input {
  background-image: url("../../images/date.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 14px center;
}

.hero__content-wrapper {
  width: 576px;
}

.hero__text {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 20px;
  padding-left: 34px;
}
.hero__text::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  background-image: url("../../images/star.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}

.hero__tittle {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.hero__bottome-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 0px;
}/*# sourceMappingURL=main.css.map */