@mixin display($items:center, $space:space-between, $gap:0px) {
    display: flex;
    align-items: $items;
    justify-content: $space;
    gap: $gap;
}
@mixin textStyle($FS, $FW, $LH, $CLR, $CASE, $MB){
    font-size: $FS;
    font-weight: $FW;
    line-height: $LH;
    color: $CLR;
    text-transform: $CASE; 
    margin-bottom: $MB;
}
@mixin btnStyle($width:400px, $padding, $BtnFS, $BtnFW, $BtnLH, $BtnColor, $BtnCase, $BtnBG:$BtnBG){
    width: $width;
    padding: $padding 0;
    text-align: center;
    border-radius: 8px;
    background-color: $BtnBG;
    @include textStyle($FS:$BtnFS, $FW:$BtnFW, $LH:$BtnLH, $CLR:$BtnColor, $CASE:$BtnCase, $MB:0px);
}