.hero-section {
    height: 100vh;
    padding: 180px 0 93px;
    background-image: url("../../images/bg-hero.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
}
.hero {

}
.hero__form {
}
.hero__content-wrapper {
}
.hero__text {
}
.hero__tittle {
}
.hero__bottome-text {
}