.services-section {
    padding: 118px 0 169px;
    background-image: url("../../images/servisec-bg.png");
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-position: -33px 77px;
}
.services__content-wrapper {
    text-align: center;
    margin-bottom: 96px;
}
.services__content-wrapper > h2{
    @include textStyle($FS:38px, $FW:700, $LH:45px, $CLR:black, $CASE:capitalize, $MB:8px);
}
.services__content-wrapper > p{
    @include textStyle($FS:16px, $FW:400, $LH:24px, $CLR:black, $CASE:capitalize, $MB:0px);

}
.services__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}
.services__item {
    position: relative;
    cursor: pointer;
    width: 354px;
    height: 465px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 4px 0 black;
    transition:  all 0.5s ;
    
    &:hover > .services__img{
        height: 50%;
    }
    &:hover > .services__hidden-content{
        bottom: 0;
    }
}
.services__img {
    height: 100%;
    object-fit: cover;
    transition:  all 0.5s ;
    
}
.services-sebcontent {
    padding: 20px;
    position: absolute;
    bottom: 0;
}
.services__hidden-content{
    padding: 20px;
    position: absolute;
    bottom: -100%;
    height: 50%;
    background-color: white;
    transition: 0.5s all;
}
.services__hidden-content > h3{
    @include textStyle($FS:24px, $FW:700, $LH:29px, $CLR:rgb(0, 0, 0), $CASE:capitalize, $MB:10px);

}
.services__hidden-content > p{
    @include textStyle($FS:14px, $FW:400, $LH:20px, $CLR:rgb(0, 0, 0), $CASE:capitalize, $MB:15px);

}
.services__hidden-content > a{
    @include textStyle($FS:15px, $FW:500, $LH:18px, $CLR:$clr-orange, $CASE:capitalize, $MB:15px);
    padding-right: 30px;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        width: 20px;
        height: 20px;
        background-image: url("../../images/arrow.svg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
     &:hover{
        text-decoration-line: underline;
     }
}
.services-sebcontent > h3{
    @include textStyle($FS:24px, $FW:700, $LH:29px, $CLR:white, $CASE:capitalize, $MB:15px);

}
.services-sebcontent > p{
    @include textStyle($FS:15px, $FW:500, $LH:18px, $CLR:white, $CASE:capitalize, $MB:0px);

}